@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.btnDirect {
    display: flex;
    font-size: 2em;
    margin: 1em 0px;
    border-radius: 1em;
}

a{
    text-decoration: none;
    color: blue;font-weight: bold;
    border-radius: 1em;
    padding: 1em;
    background-color: rgb(180, 179, 180);
}